{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit = yes">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    {% block stylesheets %}
    {% endblock stylesheets %}
    
    <title>{% block title %}Wine{% endblock title %}</title>
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">Wine</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'events' %}">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Products</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}



    {% block content %}
    
    {% endblock content %}

    
    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Wine 2023</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}
        

    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/clean-blog.js' %}"></script>
    <script src="{% static 'assets/js/Lightbox-Gallery.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block jsscripts %}
    
    {% endblock jsscripts %}

</body>


</html>